.wrap-admin {
  padding: 15px 15px;
  background-color: #847e7e;
  width: 100%;
  min-height: 600px;
}
.page-inner {
  width: 100%;
  margin: 10px 20px 10px 0px;
  background-color: #fff !important;
  padding: 10px;
  min-height: 100%;
}
