.wrap-admin {
  padding: 10px 15px;
  background-color: #847e7e;
  width: 100%;
}
.page-inner {
  width: 100%;
  margin: 10px 20px 10px 0px;
  background-color: #fff;
  padding: 10px;
  min-height: 1200px;
}
