.header {
  width: 100%;
  background-color: blue;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    // background-color: black;
    width: 211px;
    height: 55px;
    img {
      border: 1px solid black;
      width: 211px;
      height: 55px;

      object-fit: cover; /* cắt ảnh để lấp đầy khung */
    }
  }
  .search {
    width: 100%;
    margin: 0px 20px 0px 20px;
    .search_input_area {
      background-color: white;
      padding: 2px;
    }
  }
  .profile {
    display: block;
    width: 60px;
    background-color: white;
  }
}
