.header {
  width: 100%;
  background-color: blue;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    // background-color: black;
    width: 211px;
    height: 55px;
    img {
      border: 1px solid black;
      width: 211px;
      height: 55px;

      object-fit: cover; /* cắt ảnh để lấp đầy khung */
    }
  }
  .search {
    width: 100%;
    margin: 0px 20px 0px 20px;
    .search_input_area {
      background-color: white;
      padding: 2px;
    }
  }
  .profile {
    display: block;
    width: 60px;
    background-color: white;
  }
}

.product-box {
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 0px 5px 0px 5px !important;
  .product-content {
    border: 1px solid black;
  }
}

.cart-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
  padding: 15px;
  gap: 15px;

  .cart-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
  }
  .cart-info {
    flex-grow: 1;
  }
  .cart-info h3 {
    margin: 0;
    font-size: 18px;
  }
  .price {
    color: #e63946;
    font-weight: bold;
    margin: 8px 0;
  }
  .quantity {
    margin: 10px 0;
    flex-grow: 1;
  }
  .quantity input {
    width: 50px;
    text-align: center;
    padding: 4px;
  }
  .cart-actions {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
  }
  .btn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .btn-remove {
    background: #dc3545;
    color: #fff;
  }
  .btn-remove:hover {
    background: #b02a37;
  }
}
.check-validate {
  color: red;
  display: none;
}

.breadcrumb {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
  // margin: 20px 0;
  align-items: center;
}

.breadcrumb li {
  position: relative;
  padding-right: 18px;
}

.breadcrumb li:not(:last-child)::after {
  content: ">";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.breadcrumb a {
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  background: #fff;
}

.breadcrumb li.active a {
  background: #00997a;
  border-color: #00997a;
  color: #fff;
}

.product-items {
  max-height: 500px;
  border: 1px solid black;

  .product-item {
    display: flex;
    img {
      height: 100px;
      object-fit: cover;
    }
  }
}
.white-bg {
  background-color: #fff;
  // background-color: #b02a37;
}
.slider-detail {
  padding: 15px 10px;

  border-radius: 6px;
  box-shadow: #000;

  .feature-img {
    background-color: #000;
    height: 400px;
    width: 100%;
  }
  .thubmail-slide {
    height: 100%;
    width: 100%;
    background-color: #ccc;
  }
  .slide-image {
    background-color: red;
    height: 100%;
    display: flex;
    overflow: hidden;
  }
  .item-img {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
  }
  .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỷ lệ ảnh, không méo */
    object-position: center; /* Canh giữa ảnh */
  }

  .bgfullscreen-gallery {
    background-color: rgba(22, 21, 21, 0.5);
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000;
    display: none;
  }
}

.product-panel {
  padding: 10px 15px;
  width: 100%;
  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 6px;
    .option-link {
      padding: 8px 6px;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #000;
      font-size: 14px;
      line-height: 1;
      width: 68px;
      border-color: #eaecf0;
    }
    .option-link.act {
      background-color: rgba(76, 80, 216, 0.2);
      border: 1px solid;
      border-color: rgba(76, 80, 216, 0.2);
    }
  }
  .colors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .color-link {
      padding: 6px 12px 6px 8px;
      border-radius: 12px;
      border: 1px solid;
      border-color: #eaecf0;
      color: #000;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .color-link.act {
      background-color: rgba(76, 80, 216, 0.2);
      border: 1px solid;
      border-color: rgba(76, 80, 216, 0.2);
      // background-color: #b02a37;
    }
  }
  .box-price {
    gap: 6px;
    .price-sale {
      font-size: 18px;
      font-weight: bold;
      color: red;
    }
    .price-original {
      text-decoration: line-through;
    }
  }

  .block-button {
    display: flex;
    gap: 10px;
    .btn-add-cart {
      background-color: transparent;
      border: 1px solid;
      border-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn-buy-now {
      background-color: blue;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
