/* ============= Header navbar ============================= */
/* ============================================================= */

.header {
    height: var(--header-hight);
    background: linear-gradient(0, #cd1818, #f06b1f);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-left: 0px;
    margin-top: 5px;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 20px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    list-style: none;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    color: var(--white-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-item--strong {
    font-weight: 600;
}

.header__navbar-item--separate::after {
    display: block;
    content: "";
    position: absolute;
    border-left: 1px solid #000000;
    height: 15px;
    right: -9px;
    top: 3px;
}

.header__navbar-icon {
    font-size: 14px;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* =======QR code========= */

.header__qr {
    background: var(--white-color);
    width: 160px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 10px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}

.header__navbar-item--h-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--h-notify:hover .header__notify {
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-app {
    height: 16px;
}

/* =====Notify Header====== */

.header__notify {
    position: absolute;
    width: 310px;
    top: 130%;
    right: 0;
    border-radius: 2px;
    background: var(--white-color);
    border: 1px solid #cbc7c7;
    box-shadow: 2px #a9a9a9;
    display: none;
    cursor: default;
    animation: headerNotifyGrow ease-in 0.25s;
    will-change: opacity, transform;
    transform-origin: calc(100% - 45px) top;
    z-index: 1;
}

@keyframes headerNotifyGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::before {
    position: absolute;
    right: 5px;
    top: -26px;
    content: "";
    border-width: 18px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
    content: "";
    top: -11px;
    right: 0;
    position: absolute;
    width: 100px;
    height: 15px;
}

.header__notify-header {
    background: var(--white-color);
    height: 40px;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
    list-style: none;
}

.header__notify-item {
    text-decoration: none;
}

.header__notify-item:hover {
    background-color: #f1f1f1;
}

.header__notify-item--viewed {
    background: rgba(238, 75, 43, 0.2);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 10px;
    text-decoration: none;
}

.header__notify-link:hover {
    background: rgba(228, 156, 120, 0.09);
}

.header__notify-img {
    width: 40px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 6px;
}

.header__notify-name {
    display: block;
    font-size: 12px;
    color: var(--text-color);
    font-weight: 700;
    line-height: 16px;
}

.header__notify-description {
    display: block;
    font-size: 12px;
    color: rgb(51, 73, 240);
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 6px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: block;
}

/* =====Authen Modal==== */
.auth-form {
    background-color: var(--white-color);
}

.auth-form__container {
    width: 400px;
    padding: 20px 30px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.auth-form__heading {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.auth-form__witch-btn {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 14px;
}

.auth-form__input {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    padding: 0 8px;
    font-size: 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 16px;
}

.auth-form__policy-text {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    padding: 0 10px;
}

.auth-form__policy-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 12px;
}

.auth-form__controls {
    margin-top: 80px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 6px;
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    padding: 12px 32px;
    background-color: #c5c1c1;
}

.auth-form__social-icon {
    margin-left: 6px;
}

.auth-form__social--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__social--facebook .auth-form__social-icon {
    color: var(--white-color);
    font-size: 20px;
}

.auth-form__social-title {
    margin: 0 10px;
    font-weight: 600;
    font-size: 14px;
}

.auth-form__social--google .auth-form__social-icon {
    font-size: 20px;
    line-height: 20px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #000;
    height: 16px;
    margin: 0 14px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* header with search */
.header-with-search {
    height: var(--header-with-search-hight);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-home {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
    fill: var(--white-color)
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;

}



.header__cart-icon {
    color: var(--white-color);
    font-size: 26px;
}

.header__search-input-warp {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 8px;
    color: var(--text-color);
    border-radius: 2px;
    font-size: 16px;
}

.header__search-select {
    border-left: 1px solid #3a5a98;
    padding-left: 16px;
    position: relative;
    cursor: default;
}

.header__search-label {
    font-size: 16px;
    color: var(--text-color);
}

.header__search-label-icon {
    font-size: 14px;
    color: #858383;
    margin: 0 10px 0 6px;
    position: relative;
    top: 1;
}

.header__search-btn {
    background-color: var(--primary-color);
    height: 34px;
    width: 70px;
    border: none;
    margin-right: 3px;
    border-radius: 2px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #f06b1f;
}

.header__search-btn-icon {
    font-size: 12px;
    color: var(--white-color);
}

.header__search-option {
    right: 0;
    top: calc(200% - 1px);
    width: 130px;
    list-style: none;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 2px 3px #a39f9f;
    background-color: var(--white-color);
    display: none;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    top: -16px;
    height: 20px;
    width: 100%;
    position: absolute;
    display: block;
}

.header__search-option-item {
    padding: 10px 6px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    cursor: pointer;
    background-color: #e7e1e1;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item span {
    color: var(--text-color);
    margin-left: 15px;
}

.header__search-option-item i {
    color: var(--primary-color);
    margin: 0 3px 0 5px;
    font-size: 12.5px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}


/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 8px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #c6c6c6;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-input:hover .header__search-history {
    display: block;
}

.header__search-history-heading {
    margin: 6px 10px;
    font-size: 16px;
    color: #a9a9a9;
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
}

.header__search-history-item {
    text-decoration: none;
    height: 30px;
    padding: 0 10px;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    line-height: 30px;
    display: block;
}

.header__search-history-item:hover {
    background-color: #cecbcbc5;
    cursor: pointer;
}

/* header cart list*/
.header__cart-list {
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    top: calc(100% + 9px);
    right: 1px;
    z-index: 1;
    border-radius: 2px;
    display: none;
    cursor: default;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg {
    display: block;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-no-cart-msg {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    display: none;
}

.header__cart-no-cart-img {
    width: 80%;
    display: none;
    margin: 0 11%;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-wrap {
    position: relative;
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
}

.header__cart-list::after {
    position: absolute;
    content: "";
    top: -24px;
    right: 6px;
    border-width: 14px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list::before {
    position: absolute;
    right: 0;
    top: -16px;
    content: "";
    display: block;
    width: 200px;
    height: 25px;
}

.header__cart-noti-badge {
    top: -6px;
    right: -9px;
    padding: 1px 8px;
    position: absolute;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0 1;
}

/* header cart notify added item*/
.header__notify-header {
    padding: 10px 0;
    font-size: 14px;
    text-align: left;
    color: #999;
    margin-left: 10px;
    border-top-right-radius: 2px;
}

.header__list-added {
    padding: 1px;
    max-height: 30vh;
    overflow: auto;
}

.header__list-added-item {
    display: flex;
    align-items: center;
}

.header__list-added-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.header__list-added-img {
    height: 50px;
    width: 50px;
    margin: 10px 0 10px 10px;
}

.header__list-added-info {
    width: 100%;
    margin-left: 10px;
    margin-right: 6px;
}

.header__list-added-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list-added-name {
    font-size: 16px;
    line-height: 17px;
    flex: 1;
    max-height: 32px;
    text-align: left;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__list-added-price {
    font-size: 14px;
    color: var(--primary-color);
    padding: 0;
}

.header__list-added-multiply {
    font-size: 12px;
    padding: 0;
}

.header__list-added-amount {
    font-size: 14px;
}

.header__list-added-foot {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list-added-discription {
    font-size: 16px;
    font-weight: 400;
}

.header__list-added-remove {
    font-size: 14px;
    font-weight: 600;
}

.header__list-added-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 12px 12px 12px 0;
}

/* header navbar user */
.header__navbar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__navbar-user-menu {
    position: absolute;
    top: calc(100% + 4px);
    list-style: none;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    z-index: 1;
    display: none;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu::before {
    position: absolute;
    content: "";
    top: -22px;
    right: 60px;
    border-width: 13px 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__navbar-user-menu::after {
    content: "";
    top: -16px;
    height: 20px;
    width: 80%;
    position: absolute;
    display: block;
}

.header__navbar-user-list-item {
    width: 100%;
    padding: 6px;
    color: var(--text-color);
    margin-top: 10px;
}

.header__navbar-user-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header__navbar-user-list-item a {
    text-decoration: none;
    font-weight: 500;
    padding: 4px;
    font-weight: 700;
    font-size: 14px;
    color: var(--text-color);
}

.header__navbar-item-user-avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-item-user-name {
    font-weight: 600;
}

.header__navbar-user-logout a {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: green;
}

.header__navbar-user-logout a:hover {
    color: red;
}

/* =================App Container================== */
.app__container {
    background-color: #ded9d9;
}

.category {
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
}

.category__heading {
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 16px;
}

.category__heading-icon {
    margin-right: 10px;
    font-size: 18px;
}

.category-list {
    list-style: none;
}

.category-item__link {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 16px;
    font-size: 16px;
    display: block;
    right: 0;
    transition: right linear 0.1s;
    font-weight: 600;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -20px;
}

.category-item {
    position: relative;
}

.category-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    border: 1px solid #e1e1e1;
}

.category-item:first-child::before {
    display: none;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
    right: 0;
}

/*================= Home +Filter ======== */

.home-filter {
    background-color: #858383;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.home-filter__label {
    margin-right: 20px;
}

.home-filter__btn {
    margin-left: 6px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    margin-left: auto;
    margin-right: 8px;
    justify-content: space-between;
    align-items: center;
}

.home-filter__page-num {
    text-decoration: none;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    margin-right: 6px;
}

.home-filter__page-control {
    display: flex;
    justify-content: space-between;
    width: 40px;
}

.home-filter__page-btn {
    background-color: var(--white-color);
    width: 15px;
    height: 15px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.home-filter__page-btn--disable {
    background-color: #bdbcbc;
    cursor: default;
}

/* =================== Home Product ==================== */
.home-product {
    margin-top: 6px;
}

.home-product-item {
    background-color: var(--white-color);
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 5px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}

.home-product-item__img {
    padding-top: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    height: 32px;
    margin: 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    margin: 0 6px;
    display: flex;
    align-items: flex-end;
}

.home-product-item__price-old {
    text-decoration: line-through;
    font-size: 14px;
    margin-right: 6px;
}

.home-product-item__price-current {
    font-weight: 600;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 4px 6px;
}

.home-product-item__like-icon-empty {
    font-size: 14px;
}

i.home-product-item__like-icon-fill {
    display: none;
    font-size: 14px;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
    color: red;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    color: #989292;
    font-size: 13px;
}

.home-product-item__start--gold {
    color: var(--start-rating-gold);
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 0 6px;
}

.home-product-item__origin-brand {
    font-weight: 700;
}

.home-product-item__origin-warehouse {
    font-weight: 800;
}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: currentColor;
    font-weight: 500;
    line-height: 16px;
    padding-right: 6px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favorite i {
    margin: 0 4px 0 4px;
    font-size: 10px;
    color: var(--white-color);
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__sale-off {
    position: absolute;
    border-top-right-radius: 2px;
    top: 0;
    right: 0;
    width: 40px;
    color: rgba(255, 216, 64, 0.94);
    background-color: currentColor;
    text-align: center;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: currentColor currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    display: block;
    color: var(--primary-color);
    font-weight: 700;
}

.home-product-item__sale-off-label {
    margin-top: 3px;
    display: block;
    color: var(--white-color);
    font-weight: 700;
}

/*  pagination */
.pagination--margin {
    margin: 40px 0 30px 0;
}

/* Footer */

.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    padding: 0 0 4px 0;
    font-size: 20px;
    color: var(--text-color);
}

.footer-list {
    list-style: none;
}

.footer-item {
    margin: 8px 0;
    font-size: 16px;
}

.footer-item__link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    display: flex;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link span {
    margin-left: 6px;
}

.footer__download{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.footer__qr-img {
    height: 120px;
border: 1px solid var(--border-color);
box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.footer-item__link-icon{ 
    color: var(--text-color);
}
.footer__qr-download-app{
     display: block;
    margin: 4px 6px;
}
.footer__qr-download-app-img {
    height: 25px;
}